<div class="forgot-pwd">

    <h2>Forgot your Password?</h2>

    <div fxLayout="column" fxLayoutAlign="space-evenly center">

        <mat-form-field fxFlex class="full-width">
            <input matInput [formControl]="email" placeholder="Enter Email">
            <mat-error *ngIf="email.hasError('required')"> E-mail is required</mat-error>
        </mat-form-field>

        <div fxFlex class="padding-top-5 full-width">
            <button class="full-width" mat-flat-button color="primary">Submit</button>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" class="padding-top-15 full-width">
            <div fxFlex="50" fxLayoutAlign="end center">
                <a routerLink="/login">Back to Login</a>
            </div>
        </div>

    </div>
</div>